* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: medium;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header-area header-area"
        "aside-area  main-area"
        "footer-area footer-area";
    background-color: #048;
}

header { grid-area: header-area; padding: 10px;}
aside  { grid-area: aside-area; padding:10px;}
main   { grid-area: main-area; padding: 10px;}
footer { grid-area: footer-area; padding: 10px;}

header {
    color: #EC6;
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "profile-area summary-area";
    gap: 10px;
}

.profile-container {
    grid-area: profile-area;
}

.profile-summary {
    grid-area: summary-area;
}

.profile-container {
    text-align: center;
}

.profile-summary {
    text-align: justify;
    padding: 5mms;
}

aside {
    color: #EC6;
    padding: 10px;
}

aside ul {
    list-style-type: none;
    padding-left: 0.25cm;
    padding-bottom: 5mm;
    margin: 0;
}

main ul {
    list-style-type: none;
    padding-left: 0.25cm;
    padding-bottom: 5mm;
    padding-top: 2mm;
    margin: 0;
}

.svg-languages {
    font-family: inherit;
    width: 100%;
    height: auto;
}

.svg-languages .label {
    fill: #EC6;
    font-size:19px;
}

.svg-languages .header {
    font-weight: bold;
    fill: #EC6;
    font-size: 19px;
}

.svg-languages .bar-active {
    fill: #EC6;
    rx: 2px;
}

.svg-languages .bar-inactive {
    fill: rgba(238, 204, 102, 0.25);
    rx: 2px;
}

main {
    background-color: #EC6;
    color: #048;
    padding: 5mm;
}

footer {
    background-color: #EC6;
    color: #048;
}

a {
    color: #EC6;
}

.tags-container  {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}

.tag {
    background-color: transparent;
    color: #EC6;
    border: 1.5px solid #EC6;
    border-radius: 50px;
    padding: 6px 14px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.tag:hover {
    background-color: #EC6;
    color: #048;
}

small {
    font-size: 10px;
}

main, footer, aside {
    margin: 0;
}

main > *:last-child,
aside > *:last-child {
    margin-bottom: 0;
}

.year{
    margin-top: 2mm;
}

.educational-institution {
    margin-bottom: 2mm;
}

main .year{
    background-color: transparent;
    color: #048;
    border: 2px solid #048;
    border-radius: 50px;
    padding: 6px 14px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
    max-width: fit-content;
}

@media print {
    @page {
        margin: 0;
    }
    body {
        background: #048;
        margin: 0;
        padding: 0;
        display: flexbox;
    }
    .container {
        margin: 0;
        width: 100%;
        max-width: none;
        box-shadow: none;
        display: flex;
    }

    a[href] {
    text-decoration: underline;
    color: #EC6 !important;
  }
}
